<!-- Author: Zeel Patel (B00824757) -->

<!DOCTYPE html>
<style>
   body {
      font-family: Arial, Helvetica, sans-serif;
    }
    h5 {
			color: #0e6382;
		}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

table.table th:last-child {
    width: auto !important;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #17a2b8;
  color: white;
}

input.btn.btn-info.edit.my-2.my-sm-0{
    background-color: #0c893e;
    border-color: #0c893e;
}

input.btn.btn-info.delete.my-2.my-sm-0{
    background-color: #bd2130;
    border-color: #b21f2d;
}

.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			text-align: center;
			background-color: #dce7ea;
			color: #000;
		}

h1.display-4 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: .5rem;
    line-height: 1.2;
    font-weight: 500;
    color: #0e6382;
}

</style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Donor+</a>
  <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      </ul>
      &nbsp;&nbsp;<button onclick="rss('')" type="button" class="btn btn-outline-light">RSS</button>
      &nbsp;&nbsp;<button type="button" style="float:right; margin-top: 5px;" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</button>
      <div class="btn-group nav top-nav">
          <!-- Bootstrap Documentation: https://getbootstrap.com/docs/4.0/components/dropdowns/ -->
          <div class="dropdown-menu dropdown-menu-right">
              <ul class="nav top-nav">
                  <li class="dropdown show">
                      <li><a href="#" class="dropdown-item" style="text-decoration:none;"> Notification Settings</a></li>
                      <li><a href="/dashboard" class="dropdown-item" style="text-decoration:none;"> Dashboard</a></li>
                      <li><a href="#" class="dropdown-item" style="text-decoration:none;"> Change Password</a></li>
                      <li><a href="/" class="dropdown-item" style="text-decoration:none;"> Logout</a></li>
              </ul>
          </div>
      </div>
  </div>
</nav>

<br><br><br>
  <h2 style="text-align: center;">Donor Records</h2>

<hr>
    <div class="container">
<table class="table table-striped">
    <thead>
        <tr>
            
            <th>Donor Name</th>
            <th>Address</th>
            <th>Quantity</th>
            <th>Available Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Action</th>
    
        </tr>
    </thead>
    <tbody>
        <% gallery.forEach(function(gal){ %>
            <tr>
               
                <td><%= gal.dname %></td>
                <td><%= gal.address %></td>
                <td><%= gal.quantity %></td>
                <td><%= gal.time %></td>
                <td><%= gal.start_time %></td>
                <td><%= gal.end_time %></td>
                <td>
                    <!-- <a href="/gallery/edit/<%= gal.image_uid %>" class="btn btn-primary">Edit</a> -->
                    <form class="d-inline" action="/gallery/edit" method="post">
                        <input type="hidden" name="unique_edit_ID" value='<%= gal.id %>'>
                        <input type="submit" value="Edit" class="btn btn-info edit my-2 my-sm-0">
                    </form>
                    <form class="d-inline" action="/gallery/delete" method="post">
                        <input type="hidden" name="unique_delete_ID" value='<%= gal.id %>'>
                        <input type="submit" value="Delete" class="btn btn-info delete my-2 my-sm-0">
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
</div>

<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <br><h5>Subscribe to Donor+ for weekly donations!</h5>
      </div>
      <div class="col-sm-4">
        <form class="form-inline">
          <br><br><br>
          <input class="form-control mr-sm-2" id="email" type="email" placeholder="Enter Email" required>
          <button onclick="subscribe()" class="btn btn-info my-2 my-sm-0" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
</div>
</footer>
</body>
</html>